*.diff
*.log
host_graph_fpga*
_x
xclbin
.Xil
*.str
sdx_*
*.json
*.jou
release*
test_log*
xclbin*
*.protoinst
*.csv
sdaccel.ini
xrt.ini
.run
csr
*.xclbin
*.sh
tmp_fpga_top
tmp_para
code_gen
para_gen
makefile_gen
*.report
*.out
*.run_summary
