### Verification

As we have a cache in ThunderGP, the static verification method (emu-sw) can not be used for the verification and validation of our framework. we developed a automatic verification scheme enabling result verification.